html, body { height: 100%; }

body { background-color: #FF8A0D; color: #4A2D0D; display: flex; flex-direction: column; font-family: 'PT Sans', sans-serif; font-size: 14px; font-weight: 700; justify-content: center; padding: 0 15%; text-align: right; }

a { border-bottom: 1px dotted; color: inherit; padding-bottom: 1px; text-decoration: none; }

header { font-size: 5.0em; margin-bottom: 0.5em; }

section#content { font-size: 2.0em; line-height: 1.7em; margin-top: 1.3em; }
section#content p { margin-top: 1.0em; }

@media handheld, only screen and (max-width: 420px) {
    html, body { height: auto; }
    body { display: block; font-size: 12px; padding: 5em 2em 2em 2em; }
    header { margin-bottom: 1.0em; }
}